<div class="container-fluid">
    <div class="card text-center">
        <h1>Editing Water</h1>

            <%= render 'form', stat: @stat %>

            <%= link_to 'Show', @stat %> 
            <%= link_to 'Back', stats_path %>

    </div>
</div>
